html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.cart-header {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 70px;
  background: #ae0000;
}
